<!-- Barra de Aviso Covid-19-->
<p class="warning-style py-3">COVID-19: FEE está comprometida com a saúde e segurança de nossa equipe e clientes. <a
        href="">Centro de Recursos
        COVID-19</a></p>
<!-- Barra de navegação-->
<nav class="navbar navbar-expand-lg navbar-light container mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FEE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex justify-content-between mx-auto mb-4 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Institucional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Entidades</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-success" type="submit">Contato</button>
            </form>
        </div>
    </div>
</nav>