<div class="bg-img">
    <div class="container margin">
        <div class="d-flex row justify-content-between">
            <div class="col-12 col-md-6 color-text">
                <h3>Nosso foco é o desenvolvimento do estado de Goiás como um todo</h3>
                <a href="#" class="more"><i class='fas fa-chevron-circle-right' style="font-size:80px;"></i> Saiba
                    Mais</a>
            </div>
            <h2 class="col-12 col-md-5 color-text">Através da geração de empregos e renda para os goianos, alavancando
                assim,
                Goiás a uma posição de destaque
                em
                canário nacional e internacional.</h2>
        </div>
    </div>
</div>