<div class="bg-img">
    <div class="container margin">
        <div class="d-flex row justify-content-between">
            <div class="col-12 col-md-6 color-text">
                <h3>Bem vindo a FEE</h3>
                <h1>Reforçar, reunir e defender garantias</h1>
                <a href="#" class="more"><i class='fas fa-chevron-circle-right' style="font-size:80px;"></i> Saiba
                    Mais</a>
            </div>
            <h2 class="col-12 col-md-4 color-text">Trabalhamos por melhorias e garantias do setor produtivo goiano.</h2>
        </div>
    </div>
</div>