<div class="bg-img">
    <div class="container margin">
        <div class="d-flex row justify-content-between">
            <div class="col-12 col-md-6 color-text">
                <h3>O objetivo principal é funcionar como um clã do setor produtivo</h3>
                <a href="#" class="more"><i class='fas fa-chevron-circle-right' style="font-size:80px;"></i> Saiba
                    Mais</a>
            </div>
            <h2 class="col-12 col-md-5 color-text">Dirimindo internamente e de maneira mais próxima os conflitos e
                gargalos que
                possam acontecer entre os
                setores
                ali representados (comércio, agronegócio e industrial), bem como com os órgãos competentes.</h2>
        </div>
    </div>
</div>