<!-- Descrição-->
<div class="container">
    <h5>O Fórum de Entidades EMpresariais do Estado de Goiás</h5>
    <h1>O intuito do FEE é <span>reforçar, reunir e defender garantias</span> e melhorias para a competitividade do
        setor produtivo
        goiano.</h1>
    <div class="row">
        <h4 class="col-8">Trabalhamos desde seu início na instrodução institucional das entidades-membros (que
            representam o setor
            produtivo
            patronal), com as entidades que compôem os poderes:</h4>
    </div>
    <div class="row justify-content-end">
        <h4 class="col-8">Executivo, lesgislativo e judiciário em níveis municipal, estadual e federal, bem como os
            representantes dos
            trabalhadores e demais componentes da estruta da sociedade como um todo.</h4>
    </div>
</div>